/geotiffs/hold/images/
/geotiffs/hold/labels/

/geotiffs/test/images/
/geotiffs/test/labels/

/geotiffs/tier1/images/
/geotiffs/tier1/labels/

/geotiffs/tier3/images/
/geotiffs/tier3/labels/

/best_resnet34_localization.pth
/runs/

/__pycache__/
/.idea/